<div class="container">
<div class="form-group form">
    <form class="reg_form" method="POST">
        <label class="name">Enter Name</label>
        <input type="textbox" class="form-control">
        <label class="email">Enter Email</label>
        <input type="email" class="form-control">
        <label class="pass">Enter your Password</label>
        <input type="password" class="form-control">
        <label class="repass">Re-Enter your password</label>
        <input type="password" class=" form-control"><br>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
<div class="vl"></div>
</div>